<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="opening-page">
        <h1><i class="fa fa-product-hunt">-Twitter</i></h1>
        <h2>See what’s happening in the world right now</h2>
        <a href="/signup"><button>signup</button></a>
        <a href="/login"><button>login</button></a>
    </div>
</body>
</html>